body{
    background-color: black;
}

h1 {
    text-align: center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }

.socialmidia{
    font-size: 40px;
    text-align: center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
}

  svg{
    position:absolute;
    right: 50px;
    margin-top: 6px;
  }

  #back{
    padding-top: 0;
    position: absolute;
    left: 20px;
  }

  p{
    text-align: justify;
  }
  
  .volver{
    border-radius: 5px;
    background-color:#d3d3d3;
    color: black;
  }

 /*Efecto de escribir*/
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* Efecto del cursor */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }
