body{ /*Fondo negro y las fuentes*/
    background-color: black; 
    font-family: "Calibri", serif;
}

h1 {
    text-align: center;
    overflow: hidden; 
    border-right: .15em solid white; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; /*Espacio extra entre los caracteres*/
    animation: 
      typing 3.5s steps(40, end), /*Simula la animación de escribir*/
      blink-caret .75s step-end infinite; /*Hace con que el cursor parpadee*/
  }

.socialmidia{ /* Efecto igual del titulo */
    transform: scale(1, 1.5);
    font-size: 40px;
    text-align: center;
    overflow: hidden; 
    border-right: .15em solid white; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .10em; 
    animation:
            typing 3.5s steps(40, end), /*La velocidad de escribir*/
            blink-caret .75s step-end infinite; /*Controla el parpadeo del cursor*/
    }

  svg{
    position:absolute; /*retira el elemento del flujo normal, posicionando en relacion al su container mas cerca.*/
    right: 50px;
    margin-top: 6px;
  }

  .iconosize{
    width: 150px;
    height: 150px;
    left: 5px;
    position: relative; /*mantiene el elemento en el flujo normal de la pagina, sin afectar el layout alrededor*/
  }

  #back{
    padding-top: 0;
    position: absolute;
    left: 20px;
  }

  p{
    text-align: justify;
  }
  
  .volver{ /*Botón para volver simple*/
    border-radius: 5px;
    background-color:#d3d3d3;
    color: black;
  }

 /*Efecto de escribir*/
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* Efecto del cursor */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }
